# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code or other IDE settings (optional)
.vscode/

# macOS system file
.DS_Store

# Package cache
*.egg-info

# Training Data
data/

saved_models